.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "desafio_#{practica_id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title 
          = it "challenges.intro"
          %br
        %span.badge
          = practica.legacy_position_with_prefix
        = if I18n.locale == :es then practica.name_es else practica.name_en end
      .modal-body
        %ul.list-unstyled
          - desafios.each do |desafio|
            %li
              %span.badge  
                = desafio.id_with_prefix
              = if I18n.locale == :es then desafio.name_es else desafio.name_en end

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cerrar
        