/ Modal
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "myModal_#{practica.id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title
          %span.badge
            = practica_legacy.position_with_prefix
          = if I18n.locale == :es then practica_legacy.name_es else practica_legacy.name_en end
      .modal-body       
        .headline
          %h2 
            = it "modal.description"
        = if I18n.locale == :es then practica_legacy.description_es.html_safe else practica_legacy.description_en.html_safe end
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cerrar
        