.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "objetivos_de_#{practica.id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title 
          = "Objetivos a los que contribuye la práctica: "
          %br
        %span.badge
          = practica.legacy_position_with_prefix
        = if I18n.locale == :es then practica.name_es else practica.name_en end
      .modal-body
        %ul.list-unstyled
          - practica.practica.contribucions.each do |contribucion|
            %li
              %span.badge  
                = contribucion.objetivo.id_with_prefix
              = if I18n.locale == :es then contribucion.objetivo.name_es else contribucion.objetivo.name_en end
              = "(#{contribucion.valor})"

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cerrar
        