.headline 
  %h2 Objetivos
  = link_to "(Mostrar/Ocultar)", "#", id: 'toggle_objetivos'
.col-sm-12
  .table-responsive
    %table#tabla_objetivos.table.table-bordered.table-striped
      %thead
        %tr
          %th Código
          %th Objetivo específico de mejora
          %th Satisfacción del cliente
          %th Motivación y compromiso del equipo
          %th Productividad
      %tbody
        - @objetivos.each do |objetivo|
          %tr.objetivo{data: {ids: "#{objetivo.get_json_practicas_ids}"}}
            %td= objetivo.id
            %td.text_left
              = objetivo.name 
              %a.ver-practica.tooltip-info{href: '#', style: "text-decoration:none", "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Remarcar prácticas que contribuyen al objetivo"}
                %i.icon-eye-open
            %td= 'X' if objetivo.sat_client
            %td= 'X' if objetivo.equipo
            %td= 'X' if objetivo.productivity