= render 'layouts/top'
= render 'layouts/header'

.container
  .headline
    %h2 Mapa Prácticas Ágiles
  %table.table.table-bordered.table-striped#sortable{:data => { update_url: sort_user_practicas_path }}
    %thead
      %tr
        %th Id
        %th Nombre
        %th Método Ágil
    %tbody
      - @practicas.each do |practica|
        %tr{data: {item_id: "#{practica.id}"}, class: 'item'}
          %td= practica.practica_id
          %td= practica.name
          %td= practica.agile_method
          %td= practica.position

:javascript
  $(document).ready( function() {
      App.sort();
  } );