= render 'layouts/top'
= render 'layouts/header'

.container
  .headline 
    %h2 Objetivos
  .row 
    .panel-body
      .checkbox
        %label
          %input#no_margen{type: 'checkbox', checked: 'checked'} Ocultar prácticas sin margen de mejora
      
  .col-sm-12
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Código
          %th Objetivo específico de mejora
          %th Satisfacción del cliente
          %th Motivación y compromiso del equipo
          %th Productividad
      %tbody
        - @objetivos.each do |objetivo|
          %tr.objetivo{data: {ids: "#{objetivo.get_json_practicas_ids}"}}
            %td= objetivo.id
            %td.text_left= objetivo.name
            %td= 'X' if objetivo.sat_client
            %td= 'X' if objetivo.equipo
            %td= 'X' if objetivo.productivity

  .headline
    %h2#mapa Mapa Prácticas Ágiles
  .col-xs-11.col-sm-12  
    %table.table.table-bordered.table-striped#sortable{:data => { update_url: user_practicas_sort_path, range_url:user_practicas_range_path, comment_url: user_practicas_comment_path, aplicable_url: user_practicas_aplicable_path}}
      %thead
        %tr
          %th.col-sm-1.col-xs-3 Número
          %th.col-sm-4.col-xs-8 Nombre de la Práctica Ágil
          %th.col-sm-1.hidden-xs Método Ágil
          %th.col-sm-1.hidden-xs Esfuerzo Implantación
          %th.col-sm-2.hidden-xs Margen de Mejora
          %th.col-sm-2.hidden-xs Notas
          %th.col-sm-1.col-xs-1 No aplicable 
      %tbody
        - @practicas.each do |practica|
          %tr{data: {item_id: "#{practica.id}", practica_id: "#{practica.practica_id}"}, 
          class: "item practica#{' no-margen' if practica.range == 0}", 
          style: "#{' display:none;' if practica.range == 0}"}
            %td= practica.legacy_position
            %td.text_left
              = practica.name
              - unless practica.legacy_position.nil?
                = link_to " (+info)", practica_path(id: practica.legacy_position), target: :_blank 
            %td.hidden-xs= practica.agile_method.blank? ? '---' : practica.agile_method
            -# http://apidock.com/rails/ActionView/Helpers/FormOptionsHelper/collection_select
            %td.hidden-xs= UserPractica::ESFUERZO[practica.effort]
            -#%td=collection_select(:practica, :effort, UserPractica::ESFUERZO, :first, :last, :prompt => true)
            %td.hidden-xs= select_tag('name', options_from_collection_for_select(UserPractica::MARGEN, :first, :last, practica.range),prompt: "No definido", class: 'range form-control')
            %td.hidden-xs= text_area_tag 'bio', practica.comment, class: 'comment form-control'
            %td= check_box_tag 'no_aplicable' + practica.legacy_position.to_s, practica.no_aplicable, practica.no_aplicable,
            class: 'no-aplicable'

:javascript
  $(document).ready( function() {
      App.sort();
      App.updateRange();
      App.updateComment();
      App.autosizeTextArea();
      App.objetivoClick();
      App.noMargenCheckBox();
      App.noAplicableCheckBox();
  } );