= render 'layouts/top'
= render 'layouts/header'

.container
  .headline
    %h2 Mapa Prácticas Ágiles
  %table.table.table-bordered.table-striped#sortable{:data => { update_url: user_practicas_sort_path }}
    %thead
      %tr
        %th Número
        %th Nombre
        %th Método Ágil
        %th Esfuerzo
        %th Margen
        %th Notas
    %tbody
      - @practicas.each do |practica|
        %tr{data: {item_id: "#{practica.id}"}, class: 'item'}
          %td= practica.legacy_position
          %td= practica.name
          %td= practica.agile_method
          %td= practica.effort
          %td= practica.range
          %td{style: "cursor: pointer"}= practica.comment

:javascript
  $(document).ready( function() {
      App.sort();
  } );