= render 'layouts/top'
= render 'layouts/header'
.container
  .row
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      = form_for @user, html: {class: 'reg-page', method: :post}, url: signup_path do |f|
        .reg-header
          %h2 
            = it "register.new_account"
          %p
            = it "register.already_registered"
            = link_to it('register.access_account'), signin_path, { 'class' => 'color-blue' }
        = render 'shared/error_messages', object: f.object
        = f.label :name do
          = it "register.name"
          %span.color-red *
        = f.text_field :name, class: 'form-control margin-bottom-20', required: true
        = f.label :email do
          = it "register.email"
          %span.color-red *
        = f.email_field :email, class: 'form-control margin-bottom-20', required: true
        / Ámbito de trabajo
        = f.label :ambito_trabajo_id do
          = it "register.scope"
          %span.color-red *
        = f.select('ambito_trabajo_id', AmbitoTrabajo.all.collect { |at| [ if I18n.locale == :es then at.name_es else at.name_en end, at.id ] },
        { prompt: it("register.select_scope") }, { class: 'form-control margin-bottom-20', required: true })
        / Sector empresa
        = f.label :sector_empresa_id do
          = it "register.sector"
          %span.color-red *
        = f.select('sector_empresa_id', SectorEmpresa.all.collect { |at| [ if I18n.locale == :es then at.name_es else at.name_en end, at.id ] },
        { prompt: it("register.select_sector") }, { class: 'form-control margin-bottom-20', required: true })
        / Miembros equipo
        = f.label :miembros_equipo do
          = it "register.number_members"
          %span.color-red *
        = f.number_field :miembros_equipo, class: 'form-control margin-bottom-20', required: true
        .row
          .col-sm-6
            = f.label :password do
              = it "register.passwd"
              %span.color-red *
            = f.password_field :password, class: 'form-control margin-bottom-20', required: true
          .col-sm-6
            = f.label :password_confirmation do
              = it "register.repeat_passwd" 
              %span.color-red *
            = f.password_field :password_confirmation, class: 'form-control margin-bottom-20', required: true
        %hr
        .row
          .col-lg-6.col-lg-offset-6.text-right
            = f.submit it("register.submit"), class: 'btn btn-u'
