/ === Slider ===
.slider-inner
  #da-slider.da-slider
    .da-slide
      %h2
        %i 
          = it('slider.one')
        %br/
        %i 
          = it('slider.two')
        %br/
        %i 
          = it('slider.three')
      %p
        %i 
          = it('slider.four')
        %br/
        %i 
          = it('slider.five')
      - if I18n.locale == :es then
        .da-img
          %iframe{allowfullscreen: "",
            frameborder: "0",
            height: "300",
            mozallowfullscreen: "",
            src: "//www.youtube.com/embed/VaCHhjqVKTs?rel=0&showinfo=0",
            webkitallowfullscreen: "",
            width: "530"}
    /.da-arrows
    /  %span.da-arrows-prev
    /  %span.da-arrows-next
  / /da-slider
/ /slider