= render 'layouts/top'
= render 'layouts/header'

.container
  .headline
    %h2
      = it "agile_map_steps.title"
  %p
    = it "agile_map_steps.parag.one"
    
  .lista-pasos
    %ol
      %li
        = it "agile_map_steps.steps.one"
      %li
        = it "agile_map_steps.steps.two"
      %li
        = it "agile_map_steps.steps.three"
      %li
        = it "agile_map_steps.steps.four"
      %li
        = it "agile_map_steps.steps.five"
      %li
        = it "agile_map_steps.steps.six"
      %li
        = it "agile_map_steps.steps.seven"
      %li
        = it "agile_map_steps.steps.eight"
  %p
    = it "agile_map_steps.parag.two"
  