= render 'layouts/top'
= render 'layouts/header'

.container{ style: 'min-height: 500px' }
  .headline
    %h2
      = t("agile_map_definition.title")

  %p
    = t("agile_map_definition.paragraph.one")
  %p
    = raw t("agile_map_definition.paragraph.two")
  %p
    = raw t("agile_map_definition.paragraph.three")
