= render 'layouts/top'
= render 'layouts/header'
= render 'slider'
.container
  .headline{ style: 'margin-top: 30px'}
    %h2 Agile Roadmap+
  .row
    .col-sm-12
      = t "home.intro"
      - if I18n.locale == :es then
        <a href=https://www.youtube.com/watch?v=VaCHhjqVKTs'>Ver video explicativo</a>

    / Service Blocks
  .row{ style: 'margin-top: 40px'}
    .col-md-4
      .service
        = icon('compress', class: 'service-icon')
        .desc
          %h4 
            = it "home.services.title.one"
          %p 
            = it "home.services.content.one"
    .col-md-4
      .service
        = icon('cogs', class: 'service-icon')
        .desc
          %h4 
            = it "home.services.title.two"
          %p 
            = it "home.services.content.two"
    .col-md-4
      .service
        = icon('plane', class: 'service-icon')
        .desc
          %h4 
            = it "home.services.title.three"
          %p 
            = it "home.services.content.three"
