= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.container
  %h1 Usuarios

  - if Rails.env.production? # Solo funciona con PostgreSQL
    %h2 Registros por día
    = line_chart User.group_by_day(:created_at).count
  %h2 Ámbitos de trabajo
  = pie_chart(@user_ambitos)
  %h2 Sectores de empresa
  = pie_chart(@user_sectores)
  %h2 Países
  = geo_chart(@user_countries)

  %h1 Objetivos
  %h2 Posición media
  = column_chart(@objetivos_position)

  %h1 Prácticas
  %h2 Posición media
  = column_chart(@pracs_position)
  %h2 %Aplicable
  = column_chart(UserPractica.get_aplicable_stats)


