= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.container
  %h1 Usuarios

  %h1 Total
  = User.without_yopolt.count
  - if Rails.env.production? # Solo funciona con PostgreSQL
    %h2 Registros por día
    = line_chart User.without_yopolt.group_by_day(:created_at).count
  %h2 Ámbitos de trabajo
  = pie_chart(@user_ambitos)
  %h2 Sectores de empresa
  = pie_chart(@user_sectores)
  %h2 Número de trabajadores
  = pie_chart(User.get_size_team_stats)
  %h2 Países
  = geo_chart(@user_countries)

  %h1 Objetivos
  %h2 Posición media
  = column_chart(@objetivos_position)

  %h1 Prácticas
  %h2 Posición media
  = column_chart(@pracs_position)
  %h2 %Aplicable
  = column_chart(UserPractica.without_yopolt.get_aplicable_stats)
  %h2 Margen de mejora medio
  = column_chart(UserPractica.without_yopolt.get_margen_stats)


