= javascript_include_tag "//www.google.com/jsapi", "chartkick"

= render 'layouts/top'
= render 'layouts/header'

.container
  %h1 
    = it "agile_stats.title"
  = User.without_yopolt.count
  
  %h2 
    = it "agile_stats.countries"
  =  geo_chart user_countries_path
  
  %h2 
    = it "agile_stats.work"
  = pie_chart(@user_ambitos)
  %h2 
    = it "agile_stats.sectors" 
  = pie_chart(@user_sectores)
  %h2 
    = it "agile_stats.team" 
  = pie_chart(User.get_size_team_stats)
 

  %h2 
    = it "agile_stats.position"
  = column_chart(@objetivos_position)

  %h2 
    = it "agile_stats.average_position" 
  = column_chart(@pracs_position)
  
  %h2 
    = it "agile_stats.average_level"
  = column_chart(@margen_stats)

 

