= render 'layouts/top'
= render 'layouts/header'

.container
  %p{ style: 'margin-top: 20px'}
    Nuestro enfoque se caracteriza por la integración de Prácticas Ágiles provenientes de diversas fuentes, principalmente desde los métodos ágiles más populares. Además, es necesario reconocer la usual necesidad de convivencia de prácticas ágiles con otras prácticas de carácter más tradicional que se quieren mantener al menos en un primer paso.
  .row
    .col-sm-6
      %a{ href: 'https://www.dropbox.com/s/1sw3elqny3pa15n/Diagrama%20Venn%20Pr%C3%A1cticas.ppsx'}
        = image_tag 'agrupacion-metodo-agil.png', class: 'img-responsive'
    .col-sm-6
      Este diagrama ilustra el solape de prácticas entre los métodos ágiles más populares. Esto refuerza el hecho que no es sensato plantearse de forma exclusiva la implantación de un método u otro. Lo importante son las prácticas ágiles y la sinergia que generaría la aplicación de más prácticas y en mayor profundidad. Más abajo se presenta la lista de prácticas que corresponden a los números indicados en la figura. Haz clic en la imagen para descargar una diapositiva en la cual se pueden leer los nombres de las prácticas sobre la misma figura.
  .row
    .col-sm-6
      %a{ href: 'https://www.dropbox.com/s/xocfp2ltdtf6bqv/Agrupaci%C3%B3n%20de%20pr%C3%A1cticas%20%C3%A1giles.ppsx'}
        = image_tag 'agrupacion-ambito-practica.png', class: 'img-responsive'
    .col-sm-6
      Esta imagen muestra una posible agrupación de prácticas con el propósito de evaluar su aplicación en ciertos ámbitos específicos de mejora. La práctica 1 que aparece fuera de las agrupaciones es la que se refiere a enfatizar la sencillez en todos los aspectos, con lo cual hemos considerado que es la práctica transversal por excelencia. Hacer clic en la imagen para descargar una diapositiva en la cual se pueden leer los nombres de las prácticas sobre la misma figura. En cuanto a las prácticas 5 y 6, la primera se refiere a la utilización de estimaciones y capacidad del equipo para establecer los compromisos, y la segunda a la utilización de iteraciones para agrupar el trabajo.


  .headline
    %h2 Mapa Prácticas Ágiles
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col-sm-1 Número
        %th.col-sm-7 Nombre de la Práctica Ágil
        %th.col-sm-2 Método Ágil
        %th.col-sm-2 Esfuerzo
    %tbody
      - @practicas.each do |practica|
        %tr
          %td= practica.position
          %td.text_left
            = link_to practica.name, practica_path(id: practica.position), "target" => "_blank"
          %td= practica.agile_method.blank? ? '---' : practica.agile_method
          %td= Practica::ESFUERZO[practica.effort]

