= render 'layouts/top'
= render 'layouts/header'

.container
  .headline
    %h2 Mapa Prácticas Ágiles
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col-sm-1 Número
        %th.col-sm-7 Nombre
        %th.col-sm-2 Método Ágil
        %th.col-sm-2 Esfuerzo
    %tbody
      - @practicas.each do |practica|
        %tr
          %td= practica.position
          %td
            = link_to practica.name, practica_path(id: practica.position), "target" => "_blank"
          %td= practica.agile_method
          %td= Practica::ESFUERZO[practica.effort]

