= render 'layouts/top'
= render 'layouts/header'

.container
  .row{ style: 'margin-top: 20px'}
    .col-sm-6.center-img-text
      %a{ href: 'http://grupos-practicas.tuneupprocess.com'}
        = image_tag 'agrupacion-metodo-agil.png', class: 'img-responsive'
    .col-sm-6.center-img-text
      = it "agile_practices.intro.one"
  .row
    .col-sm-6.center-img-text
      %a{ href: 'http://metodos-practicas.tuneupprocess.com'}
        = image_tag 'agrupacion-ambito-practica.png', class: 'img-responsive'
    .col-sm-6.center-img-text
      = it "agile_practices.intro.two"


  .headline
    %h2 
      = it "agile_practices.table.title"
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col-sm-10 
          = it "agile_practices.table.col.one.name"
        %th.col-sm-2 
          = it "agile_practices.table.col.two.name"
    %tbody
      - @practicas.each do |practica|
        %tr
          %td.text_left
            %span.badge  
              = practica.position_with_prefix
            - if I18n.locale == :es 
              = link_to practica.name_es, practica_path(id: practica.position), "target" => "_blank" 
            - else
              = link_to practica.name_en, practica_path(id: practica.position), "target" => "_blank" 
          %td= practica.agile_method.blank? ? '---' : practica.agile_method

