= render 'layouts/top'
= render 'layouts/header'

.container
  .headline
    %h2 Nombre
  = @practica.name
  .headline
    %h2 Descripción
  = @practica.description.html_safe
  .headline
    %h2 Método Ágil
  = @practica.agile_method
  .headline
    %h2 Esfuerzo
  = Practica::ESFUERZO[@practica.effort]


