/ === Top ===
=# I18n.locale
=#link_to_unless I18n.locale == :en, "English", locale: :en 
= current_user.inspect
=# current_user.user_practicas.inspect if signed_in?
.top
  .container
    %ul.loginbar.pull-right
      %li
        %i.icon-globe
        %a= t('languages')
        %ul.lenguages
          = lang_link t('english'), :en 
          = lang_link t('spanish'), :es
      %li.devider
      - if signed_in?
        %li
          = link_to 'logout', signout_path, method: "delete"
      - else
        %li
          = link_to 'Sign in', signup_path, {'data-push' => true}
        %li.devider
        %li
          = link_to 'Login', signin_path, {'data-push' => true}
/ /top
/ === End Top ===